<%- include('header')-%>

<section class="section10">
    <h1>Our Services</h1>
    <div class="serviceContent">
        <div class="serviceBoxLeft">
        <div class="serviceLeft">
            <h2>UI/UX Design</h2><br>
            <p>User Experience (UX) Development is the procedure of improving the overall experience of the users when they interact with the application or website in order to achieve its objective to provide the maximum customer satisfaction.The User Interface (UI), on the other hand, is the process of improving the presentation and the interactivity of the web or mobile application. It focuses on the app’s look and interacts with the users. </p>

            <img src="images/ui.png" class="serviceImgLeft"></p>
        </div>
    </div>
    <div class="serviceBoxRight reveal ">
        <div class="serviceRight" style="margin-top:7%;" >
            <h2>Web Development </h2><br>
            <p>Web development refers to the building, creating, and maintaining of websites. It includes aspects such as web design, web publishing, web programming, and database management. It is the creation of an application that works over the internet i.e. websites.The part of a website that the user interacts directly is termed as front end. Backend is the server side of a website. It is the part of the website that users cannot see and interact. It is the portion of software that does not come in direct contact with the users. It is used to store and arrange data.
            <img src="images/web Dev.png" class="serviceImgRight">
        </p>
        </div>
    </div>
    <div class="serviceBoxLeft serviceMarginleft reveal">
        <div class="serviceLeft ">
            <h2>App Development</h2><br>
            <p>Mobile app development is the creation of software intended to run on mobile devices and optimized to take advantage of those products' unique features and hardware.It is the process of creating apps that run on any mobile platform: Android and iOS. With everything you need right at your fingertips, you can track inventory or make instant updates from your phone. 
            <img src="images/appDev.png" class="serviceImgLeft"></p>
        </div>
    </div>
    <div class="serviceBoxRight reveal ">
        <div class="serviceRight" style="margin-top:7%;" >
            <h2>Maintainance</h2><br>
            <p>Software Maintenance is the process of modifying a software product after it has been delivered to the customer. The main purpose of software maintenance is to modify and update software applications after delivery to correct faults and to improve performance. Software Maintenance must be performed in order to:
                Correct faults,
                Improve the design,
                Implement enhancements,
                Interface with other systems. 
            <img src="images/Maintainance.png" class="serviceImgRight">
        </p>
        </div>
    </div>
    <div class="serviceBoxLeft serviceMarginleft reveal videoEditing">
        <div class="serviceLeft">
            <h2>SEO Analytics</h2><br>
            <p>An effective SEO analysis helps identifying key areas to focus on when optimizing your site for search engines. To master SEO analytics and report on SEO data, use tools like Google Analytics or Google Search Console. 
            <img src="images/videoEditing.png" class="serviceImgLeft"></p>
        </div>
    </div>
    <div class="serviceBoxRight reveal ">
        <div class="serviceRight" style="margin-top:7%;" >
            <h2>Business Automation</h2><br>
            <p>Business process automation refers to the use of technology to execute recurring tasks or processes in an organization where manual effort can be replaced. It is done to minimize costs, increase efficiency, and streamline processes.It  refers to the use of technology to execute recurring tasks or processes in an organization where manual effort can be replaced. It is done to minimize costs, increase efficiency, and streamline processes
            <img src="images/business.png" class="serviceImgRight" style="height: 75%;width: 85%;top: 36%; border-radius: 10px;
            left: -72%;">
        </p>
        </div>
    </div>

    <div class="serviceBoxLeft serviceMarginleft reveal videoEditing">
        <div class="serviceLeft">
            <h2>Video Editing</h2><br>
            <p>Video content is to raise your profile online. Videos published on either YouTube or a social network, although in the form of webinars, courses, live videos, or self-hosted videos can be a powerful way for a brand to spread its message in a way that is easily accessible to a large audience.  
            <img src="images/video1.avif" class="serviceImgLeft"></p>
        </div>
    </div>

    <div class="serviceBoxRight reveal ">
        <div class="serviceRight" style="margin-top:7%;" >
            <h2>Marketing</h2><br>
            <p>Marketing Is an Effective Way of Engaging Customers.It’s important for your business to engage its customers. Marketing is a tool to keep the conversation going and build and Maintain the Company’s Reputation along with building sales.
            <img src="images/market1.avif" class="serviceImgRight" style="height: 75%;width: 85%;top: 36%; border-radius: 10px;
            left: -72%;">
        </p>
        </div>
    </div>
  
</div>




<div class="serviceContent1" style="width: 95%;margin: auto; align-items: center;text-align: center;">
    <div class="serviceBoxLeft1 " style="margin-top: 3%; ">
    <div class="serviceLeft1" style="background-color: #585858; padding: 3% 4% 1% 4%; margin-bottom: 14%; margin-top: 15%;box-shadow: rgba(119, 112, 112, 0.35) 0px 5px 15px;">
        <h2 style="margin-top: 6%;">UI/UX Design</h2><br>
        <p style="text-align: justify;">User Experience (UX) Development is the procedure of improving the overall experience of the users when they interact with the application or website in order to achieve its objective to provide the maximum customer satisfaction.The User Interface (UI), on the other hand, is the process of improving the presentation and the interactivity of the web or mobile application. It focuses on the app’s look and interacts with the users. </p>

        <img src="images/ui.png" class="serviceImgLeft1" style="width: 80%;margin: auto;margin-bottom: 10%;"></p>
    </div>
</div>
<div class="serviceBoxLeft1 reveal" style="margin-top: 3%;">
    <div class="serviceLeft1" style="padding: 3% 4% 1% 4%; box-shadow: rgba(119, 112, 112, 0.35) 0px 5px 15px;margin-bottom: 14%; margin-top: 15%;">
        <h2 style="margin-top: 6%;">Web Development</h2><br>
        <p style="text-align: justify;">Web development refers to the building, creating, and maintaining of websites. It includes aspects such as web design, web publishing, web programming, and database management. It is the creation of an application that works over the internet i.e. websites.The part of a website that the user interacts directly is termed as front end. Backend is the server side of a website. It is the part of the website that users cannot see and interact. It is the portion of software that does not come in direct contact with the users. It is used to store and arrange data.</p>

        <img src="images/web Dev.png" class="serviceImgLeft1" style="width: 60%;margin: auto; margin-bottom: 18%;"></p>
    </div>
</div>
<div class="serviceBoxLeft1 reveal" style="margin-top: 3%; ">
    <div class="serviceLeft1" style="background-color: #585858; padding: 3% 4% 1% 4%; margin-bottom: 14%; margin-top: 15%;box-shadow: rgba(119, 112, 112, 0.35) 0px 5px 15px;">
        <h2 style="margin-top: 6%;">App Development</h2><br>
        <p style="text-align: justify;">Mobile app development is the creation of software intended to run on mobile devices and optimized to take advantage of those products' unique features and hardware.It is the process of creating apps that run on any mobile platform: Android and iOS. With everything you need right at your fingertips, you can track inventory or make instant updates from your phone. </p>

        <img src="images/appDev.png" class="serviceImgLeft1" style="width: 80%;margin: auto;margin-bottom: 10%;"></p>
    </div>
</div>

<div class="serviceBoxLeft1 reveal" style="margin-top: 3%;">
    <div class="serviceLeft1" style="padding: 3% 4% 1% 4%; box-shadow: rgba(119, 112, 112, 0.35) 0px 5px 15px;margin-bottom: 14%; margin-top: 15%;">
        <h2 style="margin-top: 6%;">Maintainance</h2><br>
        <p style="text-align: justify;">Software Maintenance is the process of modifying a software product after it has been delivered to the customer. The main purpose of software maintenance is to modify and update software applications after delivery to correct faults and to improve performance. Software Maintenance must be performed in order to:
            Correct faults,
            Improve the design,
            Implement enhancements,
            Interface with other systems. </p>

        <img src="images/Maintainance.png" class="serviceImgLeft1" style="width: 60%;margin: auto; margin-bottom: 18%;"></p>
    </div>
</div>

<div class="serviceBoxLeft1 reveal" style="margin-top: 3%; ">
    <div class="serviceLeft1" style="background-color: #585858; padding: 3% 4% 1% 4%; margin-bottom: 14%; margin-top: 15%;box-shadow: rgba(119, 112, 112, 0.35) 0px 5px 15px;">
        <h2 style="margin-top: 6%;">SEO & Analytics</h2><br>
        <p style="text-align: justify;"> An effective SEO analysis helps identifying key areas to focus on when optimizing your site for search engines. To master SEO analytics and report on SEO data, use tools like Google Analytics or Google Search Console. </p>

        <img src="images/videoEditing.png" class="serviceImgLeft1" style="width: 80%;margin: auto;margin-bottom: 10%;"></p>
    </div>
</div>

<div class="serviceBoxLeft1 reveal" style="margin-top: 3%;">
    <div class="serviceLeft1" style="padding: 3% 4% 1% 4%; box-shadow: rgba(119, 112, 112, 0.35) 0px 5px 15px;margin-bottom: 14%; margin-top: 15%;">
        <h2 style="margin-top: 6%;">Business Automation</h2><br>
        <p style="text-align: justify;">Business process automation refers to the use of technology to execute recurring tasks or processes in an organization where manual effort can be replaced. It is done to minimize costs, increase efficiency, and streamline processes.It  refers to the use of technology to execute recurring tasks or processes in an organization where manual effort can be replaced. It is done to minimize costs, increase efficiency, and streamline processes. </p>

        <img src="images/business.png" class="serviceImgLeft1" style="width: 60%;margin: auto; margin-bottom: 18%;"></p>
    </div>
</div>

<div class="serviceBoxLeft1 reveal" style="margin-top: 3%; ">
    <div class="serviceLeft1" style="background-color: #585858; padding: 3% 4% 1% 4%; margin-bottom: 14%; margin-top: 15%;box-shadow: rgba(119, 112, 112, 0.35) 0px 5px 15px;">
        <h2 style="margin-top: 6%;">Video Editing</h2><br>
        <p style="text-align: justify;">Video content is to raise your profile online. Videos published on either YouTube or a social network, although in the form of webinars, courses, live videos, or self-hosted videos can be a powerful way for a brand to spread its message in a way that is easily accessible to a large audience.</p>

        <img src="images/video1.avif" class="serviceImgLeft1" style="width: 80%;margin: auto;margin-bottom: 10%;"></p>
    </div>
</div>

<div class="serviceBoxLeft1 reveal" style="margin-top: 3%; ">
    <div class="serviceLeft1" style="background-color: #585858; padding: 3% 4% 1% 4%; margin-bottom: 14%; margin-top: 15%;box-shadow: rgba(119, 112, 112, 0.35) 0px 5px 15px;">
        <h2 style="margin-top: 6%;">Marketing</h2><br>
        <p style="text-align: justify;">Marketing Is an Effective Way of Engaging Customers.It’s important for your business to engage its customers. Marketing is a tool to keep the conversation going and build and Maintain the Company’s Reputation along with building sales.</p>

        <img src="images/market1.avif" class="serviceImgLeft1" style="width: 80%;margin: auto;margin-bottom: 10%;"></p>
    </div>
</div>

</div>
</section>

<%- include('footer')-%>